# config_gpu.yaml
workerPoolSpecs:
   machineSpec:
      machineType: n1-standard-8
      acceleratorType: NVIDIA_TESLA_T4
      acceleratorCount: 1
   replicaCount: 1
   containerSpec:
      imageUri: nvcr.io/nvidia/pytorch:21.06-py3

#gcloud ai custom-jobs create --region=europe-west1 --display-name=test-run --config=config.yaml