# local package
-e .

# external requirements

#torch
#click
#docutils>=0.10,<0.17
#Sphinx
#coverage
#awscli
#python-dotenv>=0.5.1
#torch

numpy
matplotlib
scipy
seaborn
torchvision
huggingface
pipreqs
cookiecutter
fastapi
uvicorn[standard]
onnx
onnxruntime
optuna
scikit-learn
isort
mypy
dvc
dvc[gdrive]
dvc[gs]
hydra-core
torch_tb_profiler
wandb
pre-commit
google-api-python-client
ptflops
click
